In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
# load dataset from pandas dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [6]:
# display first 5 datasets
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [7]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
61122,49672,-3.567805,3.172881,-0.683211,-0.125218,-1.704991,0.013130,-2.051879,-0.148335,-1.022658,...,2.393365,-1.139382,0.631365,0.174151,-0.111839,0.064473,-0.526282,-0.151940,8.99,0.0
61123,49672,1.533111,-0.986675,-0.428157,-1.697093,-0.661300,-0.227418,-0.687075,-0.160587,-2.291106,...,-0.211340,-0.284504,-0.212130,-0.840417,0.686073,-0.093681,0.000854,-0.004714,40.00,0.0
61124,49673,1.239729,-0.894542,0.351498,-0.444136,-1.325594,-0.933952,-0.533615,-0.108680,-0.318660,...,0.002598,-0.249399,-0.043768,0.365201,0.385018,-0.304481,-0.017313,0.025909,92.50,0.0
61125,49674,1.240979,0.523695,-0.261839,0.971426,-0.316965,-1.746610,0.322392,-0.280320,-0.005271,...,-0.117520,-0.346626,0.001765,0.796670,0.457759,0.339913,-0.041498,0.039346,0.76,0.0
61126,49674,0.334490,-2.916266,0.181596,-2.255175,-2.035468,0.515377,-0.739335,0.311790,1.535297,...,-0.142409,-0.619074,-0.318900,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61127 entries, 0 to 61126
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    61127 non-null  int64
 1   V1      61127 non-null  float64
 2   V2      61127 non-null  float64
 3   V3      61127 non-null  float64
 4   V4      61127 non-null  float64
 5   V5      61127 non-null  float64
 6   V6      61127 non-null  float64
 7   V7      61127 non-null  float64
 8   V8      61127 non-null  float64
 9   V9      61127 non-null  float64
 10  V10     61127 non-null  float64
 11  V11     61127 non-null  float64
 12  V12     61127 non-null  float64
 13  V13     61127 non-null  float64
 14  V14     61127 non-null  float64
 15  V15     61127 non-null  float64
 16  V16     61127 non-null  float64
 17  V17     61127 non-null  float64
 18  V18     61127 non-null  float64
 19  V19     61127 non-null  float64
 20  V20     61127 non-null  float64
 21  V21     61127 non-null  float64
 22  V22     61127 non-null  float64
 23  V23     61127 non-null  float64
 24  V24     61126 non-null  float64
 25  V25     61126 non-null  float64
 26  V26     61126 non-null  float64
 27  V27     61126 non-null  float64
 28  V28     61126 non-null  float64
 29  Amount  61126 non-null  float64
 30  Class   61126 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 14.5 MB

In [9]:
#missing data
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
# distribution of legit and fradulent transaction
credit_card_data['Class'].value_counts()

0.0    60963
1.0      163
Name: Class, dtype: int64

In [11]:
#seperating data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [12]:
print(legit.shape)
print(fraud.shape)

(60963, 31)
(163, 31)

In [13]:
#statistical measures of the data
legit.Amount.describe()

count    60963.000000
mean        95.456648
std        268.995582
min          0.000000
25%          7.680000
50%         26.080000
75%         87.540000
max      19656.530000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     163.000000
mean       93.113006
std       224.038967
min         0.000000
25%         1.000000
50%         4.560000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [15]:
#compare the values of both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,32220.510523,-0.219057,-0.022709,0.714897,0.156116,-0.248663,0.108331,-0.095039,0.047355,0.064389,...,0.047481,-0.030407,-0.107144,-0.039511,0.006276,0.135694,0.01990,0.001025,0.004416,95.456648
1.0,28708.325153,-7.056144,5.067518,-9.516816,5.526487,-5.205203,-2.148640,-7.428797,3.415973,-3.338006,...,0.421982,0.850389,-0.198696,-0.261889,-0.079897,0.238777,0.12118,0.560332,0.035769,93.113006

In [16]:
legit_sample=legit.sample(n=163)

In [17]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
56120,47280,1.218469,-0.808849,0.358964,-0.522861,-0.978176,-0.222036,-0.619005,0.091193,-0.682120,...,0.163136,0.440691,-0.091471,0.248973,0.514940,-0.148074,0.005697,0.002908,53.72,0.0
29998,35731,-1.065322,2.226113,1.031873,2.765116,0.447476,0.555779,-0.605831,-2.384328,-2.056265,...,-1.466784,-0.198682,-0.160174,-0.168171,0.040714,0.127506,0.294972,0.205159,1.00,0.0
34650,37766,-0.345633,0.710957,1.459122,-0.128453,-0.054211,-0.207061,1.099191,-0.298217,-0.262426,...,-0.025706,0.070707,-0.079353,0.107244,-0.178557,0.341527,-0.268479,-0.226968,79.99,0.0
9857,14527,1.141880,0.131650,0.823923,1.167556,-0.444417,-0.103341,-0.434751,0.028305,1.435893,...,0.021565,0.252489,-0.140205,-0.052879,0.499556,-0.333542,0.005158,0.014863,30.42,0.0
49424,44053,-1.362896,0.784266,2.135114,0.901308,-1.010935,1.006875,0.089636,0.724738,-0.537778,...,0.173608,0.545437,0.029496,0.030706,0.201539,-0.257087,-0.042535,-0.033667,132.27,0.0

In [19]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
57470,47923,0.364377,1.443523,-2.220907,2.036985,-1.237055,-1.728161,-2.058582,0.358895,-1.393306,...,0.402730,-0.132129,-0.032977,0.460861,0.560404,0.409366,0.539668,0.296918,0.76,1.0
57615,47982,-1.232804,2.244119,-1.703826,1.492536,-1.192985,-1.686110,-1.864612,0.856122,-1.973535,...,0.560475,0.165682,-0.013754,0.474935,-0.218725,0.302809,0.466031,0.250134,0.76,1.0
58422,48380,-2.790771,-1.464269,1.031165,1.921356,-0.090014,-0.483871,0.780731,-0.348776,0.609133,...,-0.392667,0.440020,0.777659,0.418552,0.244563,-0.159361,0.060540,0.356958,208.58,1.0
58761,48533,1.243848,0.524526,-0.538884,1.209196,0.479538,-0.197429,0.049166,0.037792,0.128119,...,-0.051660,-0.084089,-0.192846,-0.917392,0.681953,-0.194419,0.045917,0.040136,1.00,1.0
59539,48884,-2.139051,1.394368,-0.612035,1.049327,-1.162102,-0.768219,-1.997237,0.574997,-0.980832,...,0.696955,0.740003,-0.155115,-0.050607,0.268368,-0.469433,-0.405814,-0.152171,19.73,1.0

In [22]:
new_dataset['Class'].value_counts()

0.0    163
1.0    163
Name: Class, dtype: int64

In [23]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,31630.018405,-0.349252,-0.142054,0.699147,0.178522,-0.156222,0.300808,-0.087997,0.157806,0.006935,...,0.190088,-0.000514,-0.113937,-0.122689,0.022860,0.126289,-0.002022,0.014361,0.037450,137.163926
1.0,28708.325153,-7.056144,5.067518,-9.516816,5.526487,-5.205203,-2.148640,-7.428797,3.415973,-3.338006,...,0.421982,0.850389,-0.198696,-0.261889,-0.079897,0.238777,0.121180,0.560332,0.035769,93.113006

In [24]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [25]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
56120  47280  1.218469 -0.808849  0.358964 -0.522861 -0.978176 -0.222036
29998  35731 -1.065322  2.226113  1.031873  2.765116  0.447476  0.555779
34650  37766 -0.345633  0.710957  1.459122 -0.128453 -0.054211 -0.207061
9857   14527  1.141880  0.131650  0.823923  1.167556 -0.444417 -0.103341
49424  44053 -1.362896  0.784266  2.135114  0.901308 -1.010935  1.006875
...      ...       ...       ...       ...       ...       ...       ...
57470  47923  0.364377  1.443523 -2.220907  2.036985 -1.237055 -1.728161
57615  47982 -1.232804  2.244119 -1.703826  1.492536 -1.192985 -1.686110
58422  48380 -2.790771 -1.464269  1.031165  1.921356 -0.090014 -0.483871
58761  48533  1.243848  0.524526 -0.538884  1.209196  0.479538 -0.197429
59539  48884 -2.139051  1.394368 -0.612035  1.049327 -1.162102 -0.768219

             V7        V8        V9  ...       V20       V21       V22  \
56120 -0.619005  0.091193 -0.682120  ...  0.054756  0.163136  0.440691
29998 -0.605831 -2.384328 -2.056265  ...  0.934476 -1.466784 -0.198682
34650  1.099191 -0.298217 -0.262426  ... -0.006174 -0.025706  0.070707
9857  -0.434751  0.028305  1.435893  ... -0.126165  0.021565  0.252489
49424  0.089636  0.724738 -0.537778  ... -0.066826  0.173608  0.545437
...         ...       ...       ...  ...       ...       ...       ...
57470 -2.058582  0.358895 -1.393306  ...  0.310980  0.402730 -0.132129
57615 -1.864612  0.856122 -1.973535  ...  0.207889  0.560475  0.165682
58422  0.780731 -0.348776  0.609133  ... -1.376721 -0.392667  0.440020
58761  0.049166  0.037792  0.128119  ... -0.171541 -0.051660 -0.084089
59539 -1.997237  0.574997 -0.980832  ...  0.025427  0.696955  0.740003

            V23       V24       V25       V26       V27       V28  Amount
56120 -0.091471  0.248973  0.514940 -0.148074  0.005697  0.002908   53.72
29998 -0.160174 -0.168171  0.040714  0.127506  0.294972  0.205159    1.00
34650 -0.079353  0.107244 -0.178557  0.341527 -0.268479 -0.226968   79.99
9857  -0.140205 -0.052879  0.499556 -0.333542  0.005158  0.014863   30.42
49424  0.029496  0.030706  0.201539 -0.257087 -0.042535 -0.033667  132.27
...         ...       ...       ...       ...       ...       ...     ...
57470 -0.032977  0.460861  0.560404  0.409366  0.539668  0.296918    0.76
57615 -0.013754  0.474935 -0.218725  0.302809  0.466031  0.250134    0.76
58422  0.777659  0.418552  0.244563 -0.159361  0.060540  0.356958  208.58
58761 -0.192846 -0.917392  0.681953 -0.194419  0.045917  0.040136    1.00
59539 -0.155115 -0.050607  0.268368 -0.469433 -0.405814 -0.152171   19.73

[326 rows x 30 columns]

In [26]:
print(Y)

56120    0.0
29998    0.0
34650    0.0
9857     0.0
49424    0.0
        ...
57470    1.0
57615    1.0
58422    1.0
58761    1.0
59539    1.0
Name: Class, Length: 326, dtype: float64

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [28]:
print(X.shape,X_train.shape,X_test.shape)

(326, 30) (260, 30) (66, 30)

In [29]:
#logistic regression
model=LogisticRegression()

In [30]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [31]:
#accuracy score
X_train_prediction=model.predict(X_train)

In [32]:
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [33]:
print('Accuracy on training data: ',training_data_accuracy)

Accuracy on training data:  0.9576923076923077

In [34]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [35]:
print('Accuracy score on test data:',test_data_accuracy)

Accuracy score on test data: 0.9393939393939394